body{
    background-color: black;
    padding: 200px;
}

.parent{
    background-color: white;
    width: 100%;
    height: 700px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.child{
    background-color: teal;
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child2{
    background-color:rgb(224, 64, 224);
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align:center;
}